.dcards {
  padding: 4;
  margin: 50px 200px 50px 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 sütunlu bir grid oluştur*/
  grid-gap: 50px 100px; /* Sütunlar ve satırlar arasında boşluk bırak */
}
.urun {
  margin-left: 200px;
  margin-top: 20px;
  padding: 10px;
  font-size: normal;
}
