.butn {
  color: white;
  background-color: #0d6efd;
  border: 2px solid #0d6efd;
  transition: 0.4s ease;
}
.butn:hover {
  border: 2px solid #0d6efd;
  background-color: white;
  color: #0d6efd;
}
input {
  margin-bottom: 10px;
  transition: 0.3s ease;
}
input:hover {
  box-shadow: 0px 0px 5px 0px gray;
}
h4 {
  text-align: center;
  font-size: 40px;
  color: rgb(23, 162, 184);
}
.shdw {
  transition: 0.3s ease;
}

.shdw:hover {
  box-shadow: 0px 0px 15px 0px gray;
}
.KayıtOL {
  color: orange;
  text-align: center;
}
.resim {
  width: 300px;
  height: 300px;
}
.div {
  display: flex;
  align-items: center;
  gap: 70px;
}
.for {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.icerisi {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ger {
  width: 300px;
  display: flex;
  flex-grow: 1;
}
.diiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 850px;
}
.shdw {
  transition: ease 0.4s;
}
.shdw:hover {
  box-shadow: 0px 0px 15px 0px gray;
}
.butn1 {
  border: 2px solid #0d6efd;
  color: #0d6efd;
  transition: 0.4s ease;
}
.butn1:hover {
  background-color: #0d6efd;
  color: white;
}
